.adaptive {
  display: flex;
  column-gap: 10px;
  padding: 10px;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .adaptive {
    flex-direction: column;
  }
  .img {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .adaptive {
    flex-direction: row;
  }
  .img {
    max-width: 500px;
  }
}
