.navigation {
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  padding: 10px;
  background-color: #fff9f0;
  flex-wrap: wrap;
}

.navigation :global(.active) {
  font-weight: bold;
  text-decoration: underline;
}
